{% stylesheet %}
.customer-care-title {
  display: flex;
  align-items: center;
  margin: 30px 0px;
}
.customer-care-title .left-divider {
  width: 200px;
  height: 1px;
  background: grey;
}

.customer-care-title .title-value {
  margin: 0px 10px;
}

.customer-care-title .right-divider {
  flex: 1;
  height: 1px;
  background: grey;
}

@media (max-width: 768px) {
  .customer-care-title {
    justify-content: center;
  }
  
  .customer-care-title .left-divider {
    display: none;
  }
  .customer-care-title .right-divider {
    display: none;
  }
}
{% endstylesheet %}

<div class="customer-care-title">
  <div class="left-divider"></div>
  {%- style -%}
  .title-value {
    font-size: {{ section.settings.fontSize }}px;
    text-transform: uppercase;
  }
  {%- endstyle -%}
  <div class="title-value">{{ section.settings.title }}</div>
  <div class="right-divider"></div>
</div>

{% schema %}
{
  "name": "Customer Care",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "customer care"
    },
    {
      "type": "range",
      "id": "fontSize",
      "label": "Font Size",
      "default": 12,
      "min": 12,
      "max": 100,
      "unit": "px"
    }
  ]
}
{% endschema %}

{% javascript %}
var width = parseInt($('.page-width').css("margin-left"), 10) + 40
$('.left-divider').css("width", width - 10)
$('.contact-us-description').css("margin-left", width)

$(window).resize(function() {
  var width = parseInt($('.page-width').css("margin-left"), 10) + 40
  $('.left-divider').css("width", width)
  $('.contact-us-description').css("margin-left", width)
})
{% endjavascript %}